.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #006554;
  display: block;
  font-weight: 700;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  line-height: 3;
  font-family: "Archivo", sans-serif;
}

.App-link {
  font-size: var(--subhead-font-size-l) !important;
  line-height: var(--subhead-line-height-l) !important;
  font-weight: var(--font-primary-bold-weight) !important;
  font-family: var(--font-primary) !important;
  letter-spacing: var(--subhead-letter-spacing) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
