.button-navigation {
    border: 1px solid #c8c8c8;
    border-radius: 100px;
    background-color: #f9f9f9;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1;
    text-align: center;
    width: 47%;
    white-space: nowrap;
}